div.account-header h1,h6{
  text-align: center;
    line-height:12px;
}
div.account-header h1{
}
div.account-header{
  padding-top: 80px;
  width: 100%;
  height: 280px;
  background-color: #8fa6b1;
  float: left;
}
div.account-header div.teacherPic{
 border-radius: 50%;
  margin: auto;
   width: 100px;
    height: 100px;
    background: #009688;
}
 div.account-header div.teacherPic:hover{
  /*margin: auto;  */
  width: 150px;
  height: 150px;
  margin-top: -5px;
  padding-bottom: -10px;

}

