div.view-teacher-account div.view-teacher-account-body{
  width: 100%;
  height: 100%;
  float: left;
  /*background-color: blue;*/
}
div.view-teacher-account div.view-teacher-account-header div.teacherAccPic{
border-radius: 50%;
  /*margin: auto;*/
   width: 80px;
    height: 80px;
    background: #009688;
    margin-bottom: -20px;
}
div.view-teacher-account div.view-teacher-account-header div.teacherAccPic:hover{
	width: 100px;
	height: 100px;

}
div.view-teacher-account div.view-teacher-account-header h6{
	text-align: left;

}
div.view-teacher-account div.view-teacher-account-header div.options-right{
  	float: right;

}
div.view-teacher-account div.view-teacher-account-header{
  padding-left: 50px;
  line-height: 12px;
  padding-top: 80px;
  width: 100%;
  height: 230px;
  background-color: #8fa6b1;
  float: left;
}
