<template name="accountAndclassCards">
        <!-- <h1>accountAndclassCards    s</h1> -->
        {{#each data}}
                              
           <div class="accountAndclassCards">
               

               <div class="col-md-4  col-sm-5">
                  <div class="thumbnail card">
                    <div class="caption">
                        {{#if determineUser }}
                <!-- {{> accountCard }} -->
                            {{>classCard}}
                            
            	           <!-- <h6> Teacher </h6> -->
			            {{else}}
                            {{>accountCard}}

                        {{/if}}
                    </div>
                  </div>
                </div>

               
          </div>   
          <!-- {{> classCard}} -->
        {{/each}} 
</template>
