<template name="accountCard">
   <div class="accountAndclassCards">

    <h3 id="thumbnail-label">
    
       <a href="{{pathFor route='viewAccount'}}">Reginald Recario</a>
    
                        <a class="anchorjs-link" href="#thumbnail-label"></a>
                        <span>
                        <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="glyphicon glyphicon-th-large pull-right"></span>
                        </span>
                        <ul class="dropdown-menu pull-right">
                          <li><a href="#">Modify class list</a></li>
                        </ul>
                      </span>
                      </h3>
                      <p>Teacher account</p>
                       <a href="{{pathFor route='randomizerWindow'}}">randomizerWindow</a>
                      <button class="pull-right card-button">123 Students</button>
                      </div>
</template>